{% extends "base.html" %}

{% block title %}メモ削除{% endblock title %}
{% block h1 %}削除画面{% endblock h1 %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="p-4 m-4 bh-light border border-secondary rounded">
            <h2 class="border-bottom border-2 mb-4">{{Memo.title}}</h2>
               <p class="mb-5 mx-2">{{ Memo.content }}</p>
               <h6 class="card-title mb-4 mx-2 fw-light">カテゴリ：{{ Memo.tag }}</h6>
                <button type="submit" class="btn btn-secondary">この内容を削除する</button>
        </div>
    </form>

{% endblock content %}

