{% extends "base.html" %}

{% block title %}メモ一覧{% endblock title %}
{% block h1 %}メモ一覧{% endblock %}
 
{% block content %}
    {% for item in Memo %}
        <div class="card p-3 m-4 bg-light border border-secondary">
            <div class="ms-4 mt-2 d-flex">
                <h2>{{ item.title }}</h2>
                <h6 class="fw-light ms-4 mt-3">カテゴリ：{{ item.tag }}</h6>
                <a href="{% url 'detail-memo' item.pk %}" 
                    class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover mx-4 mt-3">詳細へ</a>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
